{% extends 'base.html' %}

{% load static %}

{% block title %}
  Product
{% endblock %}

{% block content %}
  <div class="container py-5">
  	<div class="row mt-5">
  	  <div class="col-10 mx-auto col-md-6 my-3">
  	  	<img width="100%" src="{{ product.image.url }}">
	  </div>
  	</div>
  </div>
  <div class="col-10 mx-auto col-md-6 my-3">
  	<div>
	  <h1 class="product_title text-center">{{ product.name }}</h1>
	  <h5 class="text-info fst-italic mb-4 text-center">
        ${{ product.price }}
	  </h5>
	  <p class="product_desc text-center">Product Description</p>
	  <p class="product_text">{{ product.description }}</p>
	  {% if product.stock <= 0 %}
	  <p class="product_text fw-bold text-center">Out of Stock</p>
	  {% else %}
	  <a href="">Add To Cart</a>
	  {% endif %}
  	</div>
  </div>
{% endblock %}